@mixin columnizer($limit) {
  .jumbotron {
    section {
      display: block;
      @include breakpoint($limit) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }
    }
    .columns {
      @include breakpoint($limit) {
        width: 45%;
      }
    }
  }
}

@mixin retina() {
  @media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
      @content
  }
}

@mixin gradient-radial($position: center, $start: #ffffff, $start-pos: 0%, $end: #000000, $end-pos: 100%) {
  background: $start; /* Old browsers */
  background: -moz-radial-gradient($position, ellipse cover, $start $start-pos, $end $end-pos); /* FF3.6+ */
  background: -webkit-gradient(radial, $position, $start-pos, $position, $end-pos, color-stop($start-pos,$start), color-stop($end-pos,$end)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient($position, ellipse cover, $start $start-pos,$end $end-pos); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient($position, ellipse cover, $start $start-pos,$end $end-pos); /* Opera 12+ */
  background: -ms-radial-gradient($position, ellipse cover, $start $start-pos,$end $end-pos); /* IE10+ */
  background: radial-gradient(ellipse at $position, $start $start-pos,$end $end-pos); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin gradient-linear($position: top, $start: #ffffff, $start-pos: 0%, $end: #000000, $end-pos: 100%) {
  background: $start; /* Old browsers */
  background: -moz-linear-gradient($position, $start $start-pos, $end $end-pos); /* FF3.6+ */
  background: -webkit-gradient(linear, $position, color-stop($start-pos,$start), color-stop($end-pos,$end)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient($position, $start $start-pos,$end $end-pos); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($position, $start $start-pos,$end $end-pos); /* Opera 11.10+ */
  background: -ms-linear-gradient($position, $start $start-pos,$end $end-pos); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$start}', endColorstr='#{$end}',GradientType=0 ); /* IE6 */
}