html, body {
  margin: 0;
}

.jumbotron {
  padding: 20px 0;
  h1 {
    margin: 0;
    padding: 15px 0;
    text-align: center;
  }
}

color {
  margin: 15px 0;
  display: inline-block;
  button {
    padding: 15px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 20px;
  }
}

.image-container {
  width: 50%;
  margin: 20px auto 0;
}

.parent {
  position: relative;
}

.appendix {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: #fff;
  padding: 3px;
}

img{
  width: 100%;
  display: none;
  @include retina() {
    display: block;
  }
}

.columns {
  padding: 10px;
}

.is-mobile {
  @include columnizer($mobile-limit);
}

.is-desktop {
  @include columnizer($desktop-limit);
}

.column-1 {
  @include gradient-radial($position: center, $start: rgba(255,255,255,0), $start-pos: 30%, $end: rgba(255,255,255,0.7), $end-pos: 100%);
}

.column-2 {
  @include gradient-linear($position: top, $start: rgba(255,255,255,0), $start-pos: 30%, $end: rgba(255,255,255,0.7), $end-pos: 100%);
}