<div class="container" class="{{ !!isMobile ? 'yeah-mobile' : 'no-just-desktop' }}" ng-style="{'background-color': main.color}">

  <div class="jumbotron text-center">
    <h1>Hello There!</h1>
    <div ng-switch="isMobile" mobile-detect>
      <div ng-switch-when="true">
        Only Mobile
      </div>
    </div>
    <div class="image-container">
      <img src="http://dsx.weather.com/util/image/w/68a62f4e-122e-4c72-91b2-ec9f5024e031.jpg?api=7db9fe61-7414-47b5-9871-e17d87b8b6a0&h=598&w=640&v=at" size-detect="image">
    </div>
    <color body-color="main.color" size-detect></color>
    <section>
      <div class="columns column-1" size-detect>
        <h3>Bacon ipsum dolor amet short loin meatloaf spare ribs sausage.</h3>
        <p>Bresaola ball tip meatloaf, jerky brisket pancetta picanha pig biltong pork belly. Leberkas alcatra sausage venison shoulder shank tri-tip landjaeger porchetta. Ham bresaola short ribs chuck. Ball tip pork chop frankfurter doner turkey, porchetta pork belly.</p>
      </div>
      <div class="columns column-2">
        <h3>Shankle sausage pancetta</h3>
        <p>Short loin pork chop turducken ham hock swine ground round bresaola venison pig frankfurter cow meatloaf t-bone picanha brisket. Chicken alcatra chuck, andouille pork belly jowl ribeye.</p>
      </div>
    </section>
  </div>

</div>
